<div class="conteudo">
  <h2>Anã-vermelha</h2>
  <div class="estrela-fase">
    <img src="/assets/icons/stars/anavermelha.svg" />
    <div class="btns"></div>
  </div>
  <div class="app-button">
    <app-button [typename]="'O QUE É'" (onClick)="openModal('O que é uma Nebulosa?', descriptions.oQue)"></app-button>
    <app-button [typename]="'TEMPO DE FUSÃO'" (onClick)="openModal('Tempo de Fusão da Nebulosa.', descriptions.tempoFusao)"></app-button>
    <app-button [typename]="'COMPOSIÇÃO'" (onClick)="openModal('Composição de uma Nebulosa.', descriptions.composicao)"></app-button>
    <app-button [typename]="'CICLO DE VIDA'" (onClick)="openModal('Ciclo de vida da Nebulosa.', descriptions.cicloVida)"></app-button>
  </div>
</div>
