.hr {
  background-color: #f8e5a2;
  width: 95%;
  height: 0.125rem;
  margin: 0.625rem auto;
}
.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem 9rem;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 3rem 9rem;
    & .form {
      & form {
        width: 100%;
        height: 100%;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & .input {
        display: flex;
        width: 33.1875rem;
        padding: 0.875rem 1.375rem;
        border-radius: 3.9375rem;
        background-color: #fff;
        margin: 3.125rem auto 0;
        & input {
          border: 0;
          outline: 0;
          width: 100%;
          font-size: 1.125rem;
        }
        & button {
          background: none;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }

  .resultado {
    width: 100%;
  }
  .fase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
  }
  .app-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    justify-content: space-between;
  }
}
